.l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  gap: 20px;
  background-color: rgb(240, 247, 247);
}
.head2 {
  /* background-color: aqua; */
  height: 28px;
  width: 150px;
  border-bottom: 1px solid gray;
  font-weight: 600;
}
.l-item {
  color: black;
  text-align: start;
  width: 100%;
  padding: 5px;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.l-item:hover {
  background-color: rgb(224, 227, 227);
  font-weight: bold;
}
